*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
:root{
    --paddingLeft: 50px;
    --paddingRight: 50px;
}
.top-wrap{
    background: #1f2937;
    padding-left: var(--paddingLeft);
    padding-right: var(--paddingRight);
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav span{
    color: #fff;
    font-weight: ;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.nav li{
    list-style: none;
}